header{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(82, 82, 82) 1px 1px 1px;
    padding: 4em;
}
.logo-header{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-header > img {
    width: 6.5em;
    height: auto;
}
.links-header{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.links-header > a{
    font-size: 1.2em;
    font-family: 'merienda';
    color: #303030;
    font-weight: 600;
}
.links-header > a:hover{
    color: #4d4d4d;
    font-size: 1.25em;
    transition: 500ms;
}
.sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-image: url("../../images/zyro-image.png");
    background-size: cover;
    background-position: 150%;
}
.h1-sec1{
    color: white;
    font-family: 'merienda';
    font-size: 2em;
}
.sec-2{
    width: 100%;
    background-color: #ffffff;
    height: 37vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 3em;
    height: auto;
}
#rede{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}
#rede > div {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#rede > p {
    font-family: 'lobster';
    color: #3d3d3d;
    font-size: 1.3em;
}
.h2-contato{
    font-family: 'merienda';
    font-size: 2.3em;
    padding: .5em;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em 1em 4em;
}
.img-footer{
    width: 3em;
}
.txt-footer{
    font-family: 'roboto';
    font-size: .9em;
}